.modernTemplate {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.body-content {
    padding: 0 16px;
    margin-top: 70px;
}

@media (min-width: 1025px) {
    .body-content {
        padding: 0px 20rem;
    }
}
